/******* FONTS *******/

/*** Hanken Grotesk Medium ***/

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/*** Hanken Grotesk Bold ***/

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*** Hanken Grotesk ExtraBold ***/

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

/******* Setting up variables *******/
:root {
  --gradient-bg-one: hsl(252, 100%, 67%);
  --gradient-bg-two: hsl(241, 81%, 54%);
  --gradient-circle-one: hsla(256, 72%, 46%, 1);
  --gradient-circle-two: hsla(241, 72%, 46%, 0);

  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}
